body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.footer {
  background-color:black;
  color: azure;
  height: 100px;
  display: flex;
  justify-content: center;
  padding: 1%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (min-width: 800px) and (max-width: 5000px) {
  .intro {
    background-color: white;
    width: 60%;
    opacity: .9;
    font-family: 'Small Capital';
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
  }
  
 }
 @media (min-width: 10px) and (max-width: 800px) {
  .intro {
    background-color: white;
    width: 95%;
    opacity: .9;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
  }
  
 }
