.symbol {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
}
.page {
  display: flex;
  justify-content: center;
}
.botText {
  font-size: 24px;
}
.name {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  flex-direction: row;
}
.positionsList {
  margin: 2%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  border: 1px dashed black;
}
.element {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}
