.charts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  flex: 1;
}

.tv-lightweight-charts {
  flex: 1;
  height: 100%;
}

h1,
p {
  font-family: Lato;
}
.symbolChange {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin: 1%;
}
